<div class="w3-container w3-card-2 w3-white animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About</h2>
 
  <p>
    I am a student at <a href="http://earlham.edu/" target="_blank">Earlham College</a> in my final year pursuing a bachelor degree in
    Physics with a minor in Mathematics
  </p>
  <p>
    I am mainly interested in the field of fusion energy and my research is in the fields of plasma and nuclear physics. With my research, I wish to contribute to meaningful change on a global scale and hope to be a part of making safe, sustainable, and scalable fusion energy a reality in my lifetime. 
  </p>

</div>
