<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>

  <div class="w3-container">
    <div class="col-md-3">
      <h5 style="text-align: center; margin:15px 0px;">Earlham College</h5>
      <p class="city">Richmond, IN</p>
    </div>
    <div class="col-md-9">
      <h4 class="w3-opacity"><b>Bachelor’s Degree, Major in Physics and Minor in Mathematics</b></h4>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 – 2018</h6>
      <p class="city_volunteer"></i>Relevant Courses</p>
      <ul>
        <li>Classical Mechanics (PHYS425)</li>
        <li>Electronics and Instrumentation (PHYS350)</li>
        <li>Modern Physics (PHYS345)</li>
        <li>Electrmagnetism, Waves and Optics (PHYS235)</li>
        <li>General Physics Calculus Supplement (PHYS140)</li>
        <li>General Physics (PHYS120)</li>
        <li>Multivariate Calculus (MATH350)</li>
        <li>Differential Equations (MATH320)</li>
        <li>Linear Algebra (MATH310)</li>
        <li>Calculus B (MATH280)</li>
        <li>Discrete Mathematics (MATH190)</li>
        <li>Data Structures (CS256)</li>
        <li>Programming and Problem Solving (CS128)</li>
        <li>Equilibrium and Analysis (CHEM331)</li>
        <li>Organic Chemistry II (CHEM321)</li>
        <li>Organic Chemistry I (CHEM221)</li>
        <li>Cell Physiology (BIOL341)</li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <div class="col-md-3">
      <h5 style="text-align: center; margin:15px 0px;">Capital High School</h5>
      <p class="city">Olympia, Washington</p>
    </div>
    <div class="col-md-9">
      <h4 class="w3-opacity"><b>International Baccalaureate Diploma Programme (IBDP)</b></h4>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 – 2014</h6>
      <p class="city_volunteer">Courses</p>
      <ul>
        <li>Chemistry (HL)</li>
        <li>Mathematics (SL)</li>
        <li>Physics (SL)</li>
        <li>History (HL)</li>
        <li>English (HL)</li>
        <li>Spanish (SL)</li>
      </ul>
    </div>
  </div>
</div>
