<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-laptop fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Experience</h2>

  <div class="w3-container">
    <div class="col-md-3">
      <h5><img src="https://static1.squarespace.com/static/58839c83cd0f6828c5b4f4f1/t/58f13811a5790a8991b2ef33/1492205983232/?format=1500w" alt="AGNI" style="margin:15px 0px"></h5>
      <p class="city">Olympia, WA</p>
    </div>
    <div class="col-md-9">
      <h5 class="w3-opacity"><b>VP of Science and Engineering</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2017 - Current</h6>

      <p>I am a co-founder of the fusion energy research startup company AGNI Energy Inc. Our goal is to contribute new experimental data to the fields of nuclear and plasma physics. </p>
      <ul>
        <li>AGNI Science and Engineering</li>
        <div class="well well-sm" style="background-color: #ddffdd!important; padding:10px !important;">
          <p>Using a Deuterium with Helium-3 spin polarized beam in AGNI's beam-target device, new low energy fusion cross sectional data may be obtained.</p>
        
      </ul>

    </div>
  </div>
  <hr>

  <div class="w3-container">
    <div class="col-md-3">
      <h5><img src="http://cdnak1.psbin.com/b2x03yhns5lpjoaz/images/setup/footer_logo_1.png" alt="Earlham College" style="margin:15px 0px"></h5>
      <h5 style="text-align: center; margin:5px 0px">Academic Enrichment Center</h5>
      <p class="city">Richmond, IN</p>
    </div>
    <div class="col-md-9">
      <h5 class="w3-opacity"><b>Student Peer Tutoring</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2015 - May 2016</h6>
      <p>I was a peer tutor for mathematics and chemistry classes. I worked closely with many students to develop a plan of study and focus so that they were most successful and optimized their time. </p>

    </div>
  </div>
  


</div>
