<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-laptop fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Experience</h2>


  
      <div class="w3-container">
      <div class="col-md-3">
        <h5><img src="https://zap.static.domains/4da009cd8597da99be5b5a87042bd803.png" alt="ZAP" style="margin:15px 0px"></h5>
        <p class="city">Seattle, WA</p>
      </div>
      <div class="col-md-9">
        <h5 class="w3-opacity"><b>Plasma Diagnostic Scientist Intern</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Summer 2022</h6>
  
      </div>
    </div>
    <hr>  


    



    <div class="w3-container">
    <div class="col-md-3">
      <h5><img src="https://zap.static.domains/UNR_logo.png" alt="UNR" style="margin:15px 0px"></h5>
      <p class="city">Reno, NV</p>
    </div>
    <div class="col-md-9">
      <h5 class="w3-opacity"><b>Graduate Research Assistent</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2025</h6>


    </div>
  </div>
  <hr>



  
  <div class="w3-container">
    <div class="col-md-3">
      <h5><img src="https://static1.squarespace.com/static/58839c83cd0f6828c5b4f4f1/t/58f13811a5790a8991b2ef33/1492205983232/?format=1500w" alt="AGNI" style="margin:15px 0px"></h5>
      <p class="city">Olympia, WA</p>
    </div>
    <div class="col-md-9">
      <h5 class="w3-opacity"><b>VP of Science and Engineering</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2020</h6>
      <ul>
        <li>AGNI Science and Engineering</li>
        
      </ul>

    </div>
  </div>
  <hr>


</div>
