<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-desktop fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>

  <div class="w3-container">
    <h4 class="w3-opacity"><b>Teal the Social App</b></h4>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March - May 2017</h6>
    <p>This web application functions as a social connector and its primary purpose is to facilitate the connection of users who have some certain needs with other users who can fulfil those needs. Hence, users can search for, connect with, and make their requests to other users who may not be within close geographic proximity.</p>
    <p>Teal has some features integrated from popular social networking sites such as Facebook and Twitter. However, it also has certain features that are unique to it. The bulk of the application's framework was built using Rails 4.2.5. PostgreSQL 9.3.15 served as the database system and Bootstrap was used to design the front-end UI.</p>
    <p>More information about the application can be found on the <a href="https://github.com/Bovojon/Teal-social-app/wiki" class="btn btn-warning">Wiki page</a> and the <a href="https://github.com/Bovojon/Teal-social-app" class="btn btn-warning">Github repo.</a></p>
    <hr>
  </div>


  <div class="w3-container">
    <h4 class="w3-opacity"><b>Amazon-Nike Compare</b></h4>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January - February 2017</h6>
    <p>Given Nike product names, this web application collects the prices (among other pieces of data) from amazon.com and nike.com, analyzes it, and presents it for the user to compare the prices on the two websites. The average prices are calculated and visualized as a bar chart. Users can also search the results using specific details such as product descriptions, prices or ratings.</p>
    <p>The application itself was built with <a href="https://angularjs.org/" target="_blank">AngularJS</a> and the user interface was designed with twitter’s <a href="http://getbootstrap.com/components/" target="_blank">Bootstrap</a>. Angular Material was conveniently used to build most of the UI features. <a href="https://d3js.org/" target="_blank">D3.js</a> is used to draw the bar chart using the average prices from Nike.com every time a product is searched.</p>
    <p>Python modules were used to build the server, scrape the data, and perform the data analysis. The server was implemented with flask and bs4 was used to scrape data from amazon.com and nike.com. Given a keyword, the bs4 makes search requests to amazon.com and nike.com by passing the keyword as a query string in the URL. It then downloads the returned HTML files and selects from the HTML tree the required HTML elements with certain classes and/or attributes. The selected relevant data is then saved into a JSON file to be used as the model in Angular’s MVC.</p>
    <p>Further information about the challenges faced while building this application can be found on the <a href="http://amazon-nike-compare.herokuapp.com/#/about" class="btn btn-warning">About page</a> or the <a href="https://github.com/Bovojon/Amazon-Nike-compare" class="btn btn-warning">Github repo.</a></p>
    <hr>
  </div>


  <div class="w3-container">
    <h4 class="w3-opacity"><b>MyStife.com</b></h4>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2012 - <span class="w3-tag w3-teal w3-round current">Present</span></h6>
    <p>This is on-going project for which the minimal viable product is a social networking web application for making requests to specific groups of people – much like craigslist but instead the interested bodies need to be connected on MyStife before any can receive requests from the other.</p>
    <p>I am designing the front-end UI with <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a href="http://getbootstrap.com/components/" target="_blank">Bootstrap</a>, and managing the database, authentication and hosting with <a href="https://firebase.google.com/docs/" target="_blank">Firebase</a>. </p>
    <p>I first had the idea in the summer of 2012. However, back then I did not have the technical skills to build the full-stack application and so I had only created the front-end. Now that I have developed my back-end development skills, I am in the process of building the complete minimal viable product. </p>
    <p>I have made the github repo for this project private but will release the first version in the near future. </p>
    <hr>
  </div>


  <div class="w3-container">
    <h4 class="w3-opacity"><b>Meganote</b></h4>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June - August 2016</h6>
    <p> This was one of the biggest projects that I built while attending the Xtern BootCamp. It is a full-stack note-taking application built on top of the MEAN (MongoDB, Express.js, Angular, and Node.js) stack. Users can login to create, delete or update notes that are stored as JSON objects in a MongoDB database. </p>
    <p> When we were taught to build the front-end, we started out building it with plain vanilla JavaScript for the purpose of learning. We then rebuilt it with the aid of jQuery and finally built the final user interface with just <a href="https://angularjs.org/" target="_blank">AngularJS</a>. It was a great experience because when comparing the amount of time it took to build the front end with plain vanilla JavaScript at first, and then jQuery and later AngularJS, it was fascinating to see how much of the work <a href="https://angularjs.org/" target="_blank">AngularJS</a> managed behind the scenes, and how much time and lines of code were saved! It was then that I realized how powerful the model–view–controller (MVC) design pattern really was.</p>
    <p> One of the biggest challenges in building this app was authenticating user logins and encrypting user passwords before storing them in the database. We used <a href="https://www.npmjs.com/package/bcrypt" target="_blank">bcrypt.js</a> (an optimized bcrypt in JavaScript with zero dependencies) and <a href="https://jwt.io/" target="_blank">JSON Web Tokens</a> to securely transmit user data from the client to the server and then store it in the database.
    <p> Here is the link to the <a href="https://github.com/Bovojon/Meganote" class="btn btn-warning" target="_blank">Github repo</a></p>
    <hr>
  </div>


  <div class="w3-container">
    <h4 class="w3-opacity"><b>Schedoole</b></h4>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2016</h6>
    <p> Schedoole is a scheduling web application for the fictional “Xavier's School for Gifted Youngsters” where “mutants” can login to schedule and delete office hours.  </p>
    <p> The clean app that implements user registration, authentication, and routing. The front-end was built with <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a href="http://foundation.zurb.com/" target="_blank">Foundation.css</a> and <a href="https://firebase.google.com/docs/" target="_blank">Firebase</a> served as the database and also handled user authentication and password encryption.  Furthermore, Node.js was used to build the node server to interact with firebase and send texts (with <a href="https://www.twilio.com/" target="_blank">Twilio</a>) and emails (with <a href="https://www.npmjs.com/package/mailgun-js" target="_blank">mailgun-js</a>).</p>
    <p> Here is the link to the <a href="https://github.com/Bovojon/Schedoole" class="btn btn-warning" target="_blank">Github repo</a></p>
    <hr>
  </div>


  <div class="w3-container">
    <h4 class="w3-opacity"><b>SpotPark</b></h4>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2013</h6>
    <p> SpotPark was an Android parking application that located parking spots in malls using data from sensor systems in the malls and displayed the spaces on an outline of the indoor parking areas. A group of friends and I launched the prototype (MVP) at <a href="http://www.businesstoday.net.my/discover-my-apps-for-visit-malaysia-year-2014/" target="_blank">Discover MY Apps Hackathon 2013</a> in Kuala Lumpur, Malaysia. The application was built with Java but I was more engaged in designing the user interface using XML. </p>
    <hr>
  </div>

</div>
