<div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-globe fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Volunteering</h2>

  <div class="w3-container">
    <div class="col-md-8">
      <h4 class="w3-opacity"><b>Shan Children’s Home Association</b></h4>
      <p class="city_volunteer" style="margin-bottom: 10px;">Penang, Malaysia</p>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Summer 2014</h6>
      <p>
        I gained some invaluable life lessons while volunteering at the children’s home. It was inspiring to see how much more mature and independent the children were than most others at their ages. I remember clearly when speaking with some of them, seeing the determination in their eyes to want to lead themselves into a better life. They really had what it takes to make it in a tough world.
      </p>
      <p>
        I helped with whatever I could - daily chores, renovation of the rooms, and tutoring some of them. I was also able to apply my web development skills to build a static website with HTML, CSS, and JavaScript. Through the website we were able to successfully fundraise $200 for the Home.
      </p>
    </div>
    <div class="col-md-4">
      <div class="shane">
        <img src="https://s23.postimg.org/j1z93kyuj/shan_children.jpg" alt="Shan Children’s Home Association" style="border-radius: 5%;"/>
      </div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
      <h4 class="w3-opacity"><b>Uplands Environmental Club (UEC)</b></h4>
      <p class="city_volunteer">Penang, Malaysia</p>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 – 2015</h6>
      <p>
        I ran as president of UEC for 2 years until I graduated from high school in May 2015. At the time I joined, there were plans to discontinue the club from the next semester on as there was little that members were doing to fulfil the objectives of UEC.
      </p>
      <p>
        I believed that UEC needed to be revived and so I decided to build an UEC website to promote a recycling campaign that the team and I developed. The campaign focused on creating art from recycled materials and on cleaning up beaches in Batu Ferringhi, Penang. I also thought it would help to have a presence on social media and so I created and maintained the <a href="https://www.facebook.com/Uplands-Environmental-Club-UEC-429131880523032/" target="blank">facebook page Uplands Environmental Club – UEC</a>.
      </p>
  </div>
  <hr>

  <div class="w3-container">
      <h4 class="w3-opacity"><b> Math and Physics Tutor </b></h4>
      <p class="city_volunteer">Penang, Malaysia</p>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 – 2015</h6>
      <p>
        While I was in high school, I tutored students of grades 10-12 on mathematics and physics. One of the important things I realized was how much time and effort I had to spend on preparing for the classes beforehand. I had to organize my lessons such that I covered enough depth in the topics I had laid out for that class. I also took a visual approach to teaching whenever I could. This was much easier to do with physics than with math.
      </p>
      <p>
        It was during this experience that I was able to improve my communication skills significantly and develop the ability to clearly express ideas and concepts. It is one thing to be able to understand a concept for oneself – it is another to be able to elucidate it to someone else so that they will get that “Ah ha!” moment.
      </p>
  </div>
  <hr>

</div>
